################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OID/.vs/OID/FileContentIndex/b0df5e48-4a3d-4094-bb82-5b689fb48a20.vsidx
/OID/.vs/OID/v17/.suo
